@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/

/* mainVisual
----------------------------------------*/
.mainVisual {
  background-color: #37952f;
  padding: 40px 0;
}

.mainVisual__inner {
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mainVisual__catch {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  line-height: 2;
  margin-top: 20px;
  padding: 0 8.5%;
}

.mainVisual__image {
  width: 40%;
  flex-shrink: 0;
}

@media screen and (min-width: 768px), print {
}

/* serviceList
----------------------------------------*/
.serviceList {
  display: flex;
  justify-content: space-between;
}

.serviceList__item {
  width: 32.22%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.serviceList__data {
  margin: 20px;
}

.serviceList__data dt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceList__data dd {
  line-height: 1.88;
}

@media screen and (min-width: 768px), print {
}

/* pickupList
----------------------------------------*/

@media screen and (min-width: 768px), print {
}
