@charset "UTF-8";

/*----------------------------------------
	TOPページ専用
----------------------------------------*/

/* mainVisual
----------------------------------------*/
.mainVisual {
  background-color: #37952f;
  padding: 20px 0;
}

.mainVisual__inner {
  display: flex;
  /* 指定があるまでは逆から縦並び */
  flex-direction: column-reverse;
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.mainVisual__catch {
  color: #fff;
  font-weight: bold;
  /* （最小値、推奨値、最大値）で設定できるclamp関数 */
  /* ここでは最小20pxスタート、3.3vwで可変、最大36pxでストップ */
  font-size: clamp(20px, 3.3vw, 36px);
  line-height: 2;
  margin-top: 20px;
}

.mainVisual__image {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}

@media screen and (min-width: 768px), print {
  .mainVisual {
    padding: 40px 0;
  }

  .mainVisual__inner {
    /* 横並びにする */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .mainVisual__catch {
    padding: 0 8.5%;
  }

  .mainVisual__image {
    width: 40%;
  }
}

/* serviceList
----------------------------------------*/
.serviceList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceList__item {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.serviceList__item + .serviceList__item {
  margin-top: 20px;
}

.serviceList__thumb img {
  max-width: none;
  width: 100%;
}

.serviceList__data {
  margin: 20px;
}

.serviceList__data dt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceList__data dd {
  line-height: 1.88;
}

@media screen and (min-width: 768px), print {
  .serviceList {
    flex-direction: row;
    justify-content: space-between;
    /* 初期値はnormal */
    align-items: normal;
  }

  .serviceList__item {
    width: 32.22%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }

  .serviceList__item + .serviceList__item {
    margin-top: 0;
  }

  .serviceList__thumb img {
    max-width: 100%;
  }
}

/* pickupList
----------------------------------------*/

.pickupList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 子要素にマージンつけたままだと余計な余白がでるため親要素にマイナスつけて引っ張り上げるイメージ */
  margin-top: -20px;
}

/* 指定がないときは100％から隣接する余白20pxを除いたものを2等分 */
.pickupList__item {
  width: calc((100% - 20px) / 2);
  margin-top: 20px;
}

.pickupList__item a {
  text-decoration: none;
}

.pickupList__thumb {
  max-width: none;
  width: 100%;
  padding-bottom: 10px;
}

.pickupList__title {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  line-height: 1.67;
  transition: color 0.3s;
  padding-left: 1.2em;
}

.pickupList__title::before {
  content: "＞";
  display: block;
  position: absolute;
  left: 0;
}

/* 親要素にhoverした時子要素に対するCSS */
.pickupList__item a:hover .pickupList__title {
  color: #37952f;
}

.pickupList__title:hover {
  color: #37952f;
}

/* 上書きしたい順に書く */
/* 今回は768→992の順で上書きされるように記述 */
@media screen and (min-width: 768px), print {
  /* 768px以上は100％から隣接する余白20px2つ分を除いたものを3等分 */
  .pickupList__item {
    width: calc((100% - 40px) / 3);
  }

  /* 親要素の末尾に追加することでアイテムが少ないとき両端に行っちゃうのを防ぐ */
  .pickupList::after {
    content: "";
    display: block;
    width: calc((100% - 40px) / 3);
  }

  .pickupList__title {
    font-size: 18px;
  }

  @media screen and (min-width: 992px), print {
    /* 992px以上は100％から隣接する余白20px3つ分を除いたものを4等分 */
    .pickupList__item {
      width: calc((100% - 60px) / 4);
    }

    /* 親要素の末尾に追加することでアイテムが少ないとき両端に行っちゃうのを防ぐ */
    .pickupList::before,
    .pickupList::after {
      content: "";
      display: block;
      width: calc((100% - 60px) / 4);
    }

    /* 表示される場所（順序）を変更 */
    .pickupList::before {
      order: 1;
    }

    .pickupList__thumb {
      padding-bottom: 20px;
    }
  }
}
